.container {
    min-height: calc(100vh - 80px);
    padding: 30px 20px 0 20px;
}

.car_info_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.car_info {
    font-size: 20px;
}