.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    height: 80px;
}

.index {
    font-size: 20px;
    width: 100px;
}

.user {
    flex: 1;
    font-size: 20px;
}