.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 15px;
}

.logo {
    font-size: 40px; 
    font-weight: bold;
    color: rgb(45, 102, 157);
    transition: .3s;
}

.logo:hover, :focus {
    color: rgb(57, 157, 204);
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    align-items: center;
    border: 0;
    border-radius: 25px;
    font-size: 16px;
    line-height: 20px;
    width: 80px;
    height: 40px;
    margin: 0 5px;
    font-weight: 500;
    transition: .3s;
    user-select: none;
}

.search {
    margin-left: 20px;
    display: flex;
    align-items: center;
}
