.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.plug {
    width: 100px;
}

.title {
    cursor: pointer;
    padding-right: 25px;
    font-size: 20px;
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 20px;
}