.search {
    width: 150px;
    height: 40px;
    font-size: 16px;
    padding: 7px 0;
    border: 0;
    border-bottom: 1px solid rgba(27, 31, 35, 0.35);
    transition: .3s;
}

.search::placeholder {
    color: rgba(27, 31, 35, 0.35);
}

.search:focus{
    border-bottom: 1px solid rgb(45, 102, 157);
}

.button {
    border: 0;
    line-height: 20px;
    height: 40px;
    width: 30px;
    user-select: none;
    background: url('../../assets/icons/search.png') no-repeat;
    background-size: 30px;
    background-position: bottom;
    margin-left: 5px;
}